body{
font-family: candara,sans-serif;
margin: auto;
width: 60%;
border: 1px solid brown;
padding: 0 15px 0;
}

strong{
    color: blue;
    font-size: 1.25em;
}

p.etimología{
    background-color: gainsboro;
    color: green;
}
em{
    color: red;
    font-weight: bold;
}
ins{
    color: cornflowerblue;
}
a href{
    color: blue;
}