/*CSS para las citas de Virgilio
*/

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
   background-color: #eca;
}

h1{
    font-family: 'Fascinate Inline',cursive;
    font-size:3rem ;
    letter-spacing: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

p.intro{
   margin-left: 30%;
   margin-right: 30%;
   font-family:'Open Sans',sans-serif ;
   line-height: 200%;
   text-align: justify;
}
p.latin{
    margin:0;
    font-family: 'Permanent Marker',cursive;
    font-size:2.5rem;
}
p.espanol{
margin:0 0 3rem;
color:white;
font-family: 'Open Sans',sans-serif;
font-size:3.5rem;
letter-spacing: 1px;
text-align: right;
}
 cite{
    text-decoration: underline;
 }